@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
:root {
  --color-primary: 0, 150, 136;
	--color-primary-contrast: 255, 255, 255;
  // --color-primary: blue;
  // --color-primary-contrast: white;

  // --color-accent: yellow;
  // --color-accent-contrast: black;

  // --color-warn: yellow;
  // --color-warn-contrast: black;
}

.vex-style-light,
.vex-style-default {
	// --color-error: --color-warn;
	--color-info: #3b82f5;
	--color-warning: #f0ca1e;
}

.vex-style-dark {
	--color-error: --color-warn;
	--color-info: #1d4ed7;
	--color-warning: #c58b09;
}

.njc-confirmation-dialog-panel {
	@media (min-width: 960px) {
		width: 32rem;
	}
}

.vex-style-light,
.vex-style-default {
	.color-warn {
		color: rgba(var(--color-warn), 1);
	}

	.bg-warn {
		background-color: rgba(var(--color-warn), 1);
	}

	.color-primary {
		color: rgba(var(--color-primary), 1);
	}

	.bg-primary {
		background-color: rgba(var(--color-primary), 1);
	}
}

.vex-style-light,
.vex-style-dark,
.vex-style-default {
	.njc-alert-error {
		background-color: rgba(var(--color-warn), 1);
	}
	.njc-alert-warning {
		background-color: var(--color-warning);
		color: #fff;
	}
	.njc-alert-info {
		background-color: var(--color-info);
		color: #fff;
	}
}